<h1>パスワードリセット申請</h1>
<%= form_with url: password_resets_path, local: true, method: :post do |form| %>
  <div class="field">
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email, class: 'form-control' %>
    <%= form.submit '送信' %>
  </div>
<% end %>
