<h1>
  めいん
</h1>
<table>
  <tr>
    <th>
      User
    </th>
    <th>
      Activation Status
    </th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.activation_state %></td>

  </tr>
<% end %>
</table>
